.signup-box {
  font-family: sans-serif;
  display: flex;
  background: #36393F;
  color: #72767D;
  padding: 32px;
  width: 480px;
  // height: 564px;
  height: 450px;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.2);
  align-self: center;
  box-sizing: border-box;
}

.already-signup {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 2px 0;
  color: #72767D;
  font-size: 13px;
}

.signup-swap-form {
  color:  #7289DA;
  font-size: 13px;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  &:focus {
    text-decoration: underline;
  }
}

.signup-tos {
  display: flex;
  font-size: 11px;
  margin-top: 20px;
  a {
    color: #7289DA;
    padding: 0 3px;
    &:hover {
      text-decoration: underline;
    }
    &:focus {
      text-decoration: underline;
    }
  }
}