.main-channels, .channel-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  color: rgba($color: #888888, $alpha: 1.0);
  background-color: rgba($color: #363636, $alpha: 1.0);
}

.channel-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // flex-wrap: wrap;
  width: 240px;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  background-color: rgba($color: #363636, $alpha: 1.0);;
}

.current-channel {
  position: sticky;
  height: 30px;
  top: 0;
  overflow: hidden;
  width: 220px;
  background-color: rgba($color: #363636, $alpha: 1.0);;
  align-items: center;
  padding: 0 10px;
}

.channel-list-wrapper {
  flex-direction: column;
  flex: inherit;
  width: 240px;
}

.channel-list {
  flex-direction: column;
  flex: inherit;
  width: 240px;
}

// .channel-icon {
//   display: flex;
//   width: 48px;
//   height: 48px;
//   border-radius: 50%;
//   &:hover {
//     border-radius: 25%;
//   }
// }

.icon-padding {
  box-sizing: border-box;
  padding: 0 12px 8px;
}

.add-channel {
  position: sticky;
  bottom: 0;
  background-color: rgba($color: #363636, $alpha: 1.0);;
  display: flex;
  flex-direction: column;
  width: 240px;
}