.chatroom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.message-list {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
}

.load-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.message-form {
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.message-form-body {
  background-color: rgba($color: #5b5b64, $alpha: 1.0);
  border-radius: 7px;
  width: 100%;
  min-height: 48px;
  margin: 0 20px 20px 20px;
  padding-left: 12px;
  box-sizing: border-box;
}